version: '3'

services:
  fhir:
    image: openconceptlab/oclfhir:${ENVIRONMENT-production}
    restart: "always"
    ports:
      - ${SERVER_PORT-8080}:${SERVER_PORT-8080}
    environment:
      - ENVIRONMENT=${ENVIRONMENT-production}
      - OCLAPI_HOST=${OCLAPI_HOST-api}
      - OCLAPI_PORT=${OCLAPI_PORT-8000}
      - DATABASE_URL=${DATABASE_URL-jdbc:postgresql://db:5432/postgres}
      - DATABASE_USERNAME=${DATABASE_USERNAME-postgres}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD-Postgres123}
      - DATABASE_DIALECT=${DATABASE_DIALECT-org.hibernate.dialect.ProgressDialect}
      - SERVER_PORT=${SERVER_PORT-8080}
      - OCL_SERVLET_BASEURL=${OCL_SERVLET_BASEURL-http://localhost:8080/fhir}
      - OCLAPI_BASE_URL=${OCLAPI_BASE_URL-http://localhost:8000}
networks:
  default:
    external:
      name: ${OCLAPI_NETWORK-oclapi2_default}
